/*
Stylesheet created by Radames Ramirez
*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
body{

	padding-top: 91px;
	max-width: 100%;
	overflow-x: hidden;

}

html{
	overflow-x:hidden;
}


/*
.container{
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
}
*/

.header{
	width:1200px;
	height: 93px;
	position: fixed;
	z-index: 999; 
	top: 0;
	background-color: #FFF;
}

.logo{
	width: 689px;
	float: left;
}


.navlink{
	width:510px;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	float: left;
	font-weight: bold;
}


.social{
	width: 68px;
	height: 21px;
	margin-left: auto;
	margin-right: 0px;
	padding-top: 10px;
}

.Twitter{
	float: left;
	background: url('http://assets0-stage.livecache.net/L6/3/IOGLO/833598249/187677056/twitter.png');
	width: 25px;
	height: 21px;
}

.Twitter:hover{
	float: left;
	background: url('http://assets0-stage.livecache.net/L6/3/IOGLO/833598262/187677063/twitter_hover.png');
	width: 25px;
	height: 21px;
}


.Facebook{
	float: left;
	background: url('http://assets0-stage.livecache.net/L6/3/IOGLO/833598480/187677249/facebook.png');
	width: 28px;
	height: 21px;
}

.Facebook:hover{
	float: left;
	background: url('http://assets0-stage.livecache.net/L6/3/IOGLO/833598486/187677253/facebook_hover.png');
	width: 28px;
	height: 21px;
}



.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #fff;
    color: #c00;
    border-bottom: 3px solid #C00;
    padding-bottom: 2px;
}




#nav {
	width: 510px;
	float: left;
	margin-top: 0px;
	padding: 0;
	list-style: none;
}
#nav li {
	float: left; }
#nav li a {
	display: block;
	padding: 8px 9px;
	text-decoration: none;
	font-weight: bold;
	color: #069;
	 }
#nav li a:hover {
	color: #c00;
	background-color: #fff; }

#nav li a:focus {
	color: #c00;
	background-color: #000;
	 }

#nav .active a{
	color: #c00;
	background-color: #fff;
}	


.header.scrolled{
	width:1200px;
	height: 93px;
	position: fixed;
	z-index: 999; 
	top: 0;
	-webkit-box-shadow: 0 5px 4px -6px black;
	-moz-box-shadow: 0 5px 4px -6px black;
	box-shadow: 0 5px 4px -6px black;
}


.content{
	padding-top: 93px;
	position: relative;

}

.AboutUsContainer:before{
	display: block; 
  content: " "; 
  margin-top: -93px; 
  height: 93px; 
  visibility: hidden; 
}

.body3:before{
	display: block; 
  content: " "; 
  margin-top: -93px; 
  height: 93px; 
  visibility: hidden; 
}

.body7:before{
	display: block; 
  content: " "; 
  margin-top: -93px; 
  height: 93px; 
  visibility: hidden; 
}

.body11:before{
	display: block; 
  content: " "; 
  margin-top: -93px; 
  height: 93px; 
  visibility: hidden; 
}


.MainContainer{
	background: url('../assets/body1.jpg');
	background-size:100% auto;
	width: 100%;
	height: 586px;
	background-repeat:no-repeat;
}


.MainImageCopy{
	width: 580px;
	height: 83px;
	margin-left: 327px;
	margin-right: 27%;
	padding-top: 80px;
}


.MainImageLaptop{
	width:309px;
	height: 175px;
	padding-left: 454px;
	padding-top: 121px;
}

.Headline{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 73px;
	float: left;
	color: #FFF;

}

.AboutUsContainer{
	width: inherit;
	height:607px;
	text-align: center;

}

.AboutUsHeadlineCopy{
	width: 273px;
	height: 77px;
	color: #000;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 60px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 30px;
}

.HeadlineSentence{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 26px;
	width: auto;
	display: inline-block;
	color: #919193;
	padding-top: 15px;
	text-align: center;
	padding-bottom: 25px;

}

.AboutUsPoints{
	width: 100%;
	height: 229px;
	padding-top: 42px;
}

.PointsContainer{
	padding-left: 53px;
}

.Point{
	width: 177px;
	float: left;
}

.PointsTitle{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #14568e;
	font-size: 19px;
}

.PointsSentence{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #000;
	font-size: 15px;
	padding-top: 10px;

}


/*----------------BOOTSTRAP CUSTOM CODE----------------*/

.navbar-default{
	background-color: #FFF;
}

.navbar-brand{
	height:auto;
	padding:0;
	width: 239px;
}

.navbar-right{
	padding-top: 25px;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: bold;
}

.navbar-default .navbar-nav>li>a{
	color: #069;
}

.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>a:focus{
	color:#c00;
	background-color:transparent;
	border-bottom: 3px solid #C00;
	padding-bottom: 2px;
}





/*Responsive code*/
	@media (max-width: 320px){

		body{
			padding-top: 65px !important;
		}
		

		.navbar-brand{
			width: 160px;
		}


		.HeadlineCopy{
			font-size: 40px !important;
		}

		.HeadlineSentence{
			font-size: 19px !important;
		}

		.BottomPadding{
			padding-bottom: 20px;
	
         }


		.FeaturedBoxHeadline {
    		font-size: 35px !important;
    		padding-top: 9px !important;
		}


		.FeaturedBoxSentence{
			font-size: 10px !important;
		}

		.FeaturedBoxContainer {
    		height: 112px !important;
		}

		.social{
			padding-top: 0px;
		}

		.HeadlineContent{
			font-size: 15px; 
			overflow: visible !important;
		}

		.AlignTextLeft {
			text-align: center !important;
		}


		.LiveButtonStyle {
			float: inherit !important;
		}


		.BackToTop{
			display: none !important;
		}



		.TeamHeadline{
			font-size: 50px !important;
		}

		.TeamSentence{
			font-size: 14px !important;

		}

		.team{
			height: 100% !important;
		}

		.TeamBackToTop{
			display: none !important;

		}


		.team{
			height: 97px !important;
		}

		.teamleft{
			width: 286px !important;
			padding-left: 0px!important;
		}

		.teamright{
			display: none;
		}


		.carousel-indicators{
			padding-left: 0px !important;
			bottom: -8px !important;
		}

		.carousel-control{
			visibility: hidden !important;
		}

		.SliderTeamName{
			font-size: 23px !important;
			text-shadow: 1px 1px rgba(1, 26, 99, 1) !important;
			background-color: rgba(56, 53, 53, 0.3);
			border-radius: 10px;
			color: rgba(255, 255, 255, 1) !important;

		}

		.SliderTeamPosition{
			font-size: 13px !important;
			text-shadow: 2px 2px #ff0000 !important;
			visibility: hidden !important;

		}

		.SliderTeamSentence{
			height: 0px !important;
			visibility: hidden !important;

		}

		.carousel-caption{
			width: 231px !important;
			padding-bottom: 0px !important;
			padding-left: 0px !important;
			left: 10% !important;
		}

		.ContactInfoCopy{
		font-size: 12px !important;
	}

		.mapleft{
	   	width: 286px !important;
	   	padding-left: 0px !important;
	   }
	   .mapheadline{
	   	font-size: 50px !important;
	   }

	    .social{
	   	display: none !important;
	   }

	   .socialMobile{
	   	display: block !important;
	   	margin-left: 195px !important;
		padding-top: 13px !important;
	   }



	   .HeaderCopy{
	   	font-size: 60px !important;
	   }

	   .Laptop{
	   	width: 305px !important;
		padding-left: 20px !important;
		padding-top: 222px !important;
	   }

	   #home{
	   	padding-bottom: 84px !important;
	   	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8) !important;
	   	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8) !important;
	   	padding-top: 27px !important;
	   	background-position: 38% 63px !important;

	   }

	   #products{
	   		box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8) !important;
	   		-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8) !important;
	   		background: url('http://assets0-stage.livecache.net/L6/3/IOGLO/833597663/187676579/key.jpg') !important;
	   		background-size: 692px !important;
	   }


	   #demo{
	   		box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8) !important;
	   		-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8) !important;
	   		background: url('http://assets0.livecache.net/L6/3/IOGLO/834629956/188591700/demotst.jpg') !important;
	   		background-size: 772px !important;
	   }

	   #Technology{
	   		box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8) !important;
	   		-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8) !important;
	   		background: url('http://assets2-stage.livecache.net/L6/3/IOGLO/833598205/187677015/tech.jpg') !important;
	   		background-size: 681px !important;

	   }

	    #team{
	   		box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8) !important;
	   		-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8) !important;
	   }

	   #aboutuspageheader{
	   	background-size: 956px !important;
	   		box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8) !important;
	   		-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8) !important;
	   }

	   .clientscopy{
	   	padding-top: 44px !important;
		padding-left: 42px !important;	
		font-size: 22px !important;
	   }

	   .Clients {
	    padding-left: 0px !important;
		}
		 
		.carouselspacing{
			left: 0px !important;
		}

		.GoogleFooter{ margin-right: 0px !important;}



	    .prefootertext{
			margin-left: 0px !important;
		}

		.footeremail{
			font-size: 14px !important;
			padding-left: 37px !important;
		}
		.footerphone{
			font-size: 14px !important;
		}
		.footeraddress{
			font-size: 14px !important;
			padding-left: 0px !important;
		}

		.footericons{
			padding-left: 15px !important;
		}

		.footermobile{
			text-align: center !important;
		}
		
		.footerlegal{
			text-align: center !important;
			position: absolute !important;
			margin-top: 80px !important;
		}
		
		.footerlogo{
			float: left !important;
			margin-left:43px !important;	
			margin-bottom: 24px !important;
		}

		.mobilelinks{
			display: block !important;
		}

		.footerfull{
			display:none !important;
		}

		 .mobileInput{
		 	width:100% !important;
		 }

		 .oneplatformmobile{
			display: block !important;
		}
		 
		 .oneplatform{
		 	display: none !important;
		 }



		 .ctarequest{
				margin-top: 4%!important;
				margin-bottom: 20px !important;
				margin-left: 20% !important;

		} 

		.testimonialcopy{
			font-size: 19px !important;
		 }

		 .contentpageheadercopy {
		 	font-size: 45px !important;
		 }

		 .positiontitle {
		 	font-size: 40px !important;
		 }


		 .headercontentimage{
		 	display: none !important;
		 }

		 .headerspacingmobile{
		 	padding-bottom: 20px !important;
		 }


		 .footerphone{
		 	padding-left: 80px !important;
		 }

		 .LinkedInFooter {
			    margin-right: 15px !important;
			    margin-left: 57px;
			}

		 .FBFooter{
		 	margin-right: 15px !important;
		 }

		 .carouselitempos{
				padding-left: 0px !important;
		}



			.boxheadlinemobile{
				font-size: 54px !important;
				text-shadow: 2px 2px 1px #000 !important; 
			}


			.boxheadlinesentencemobile{
				font-size: 18px !important;
				text-shadow: 2px 2px 1px #000 !important; 
			}


			.headerblurb {
 			   width: 100% !important;
			}


			.blurbsentence {
				font-size: 17px !important;
			}

			.HeaderCopy {
    			font-size: 41px !important;
			}

			.dayscrollercopy {
				font-size: 33px !important;
			}

			.headerblurb .HeaderCopy{
				font-size: 36px !important;
			}

			.solutionstitle{
				font-size: 30px !important;
			}

	}

	@media (min-width: 321px) and (max-width: 480px){
		
		body{
			padding-top: 65px !important;
		}
		
		 
		.navbar-brand{
			width: 160px !important;
		}


		.HeadlineCopy{
			font-size: 45px !important;
		}

		.HeadlineSentence{
			font-size: 21px !important;
		}

		.BottomPadding{
			padding-bottom: 20px;
	
         }


		.FeaturedBoxHeadline {
    		font-size: 40px !important;
    		padding-top: 9px !important;
		}

		.FeaturedBoxSentence{
			font-size: 12px !important;
		}

		.FeaturedBoxContainer {
    		height: 125px !important;
		}

		.social{
			padding-top: 0px;
		}

		.HeadlineContent{
			font-size: 15px !important; 
			overflow: visible !important;
		}


		.AlignTextLeft {
			text-align: center !important;
		}



		.LiveButtonStyle {
			float: inherit !important;
		}


		.BackToTop{
			display: none !important;
		}


		.TeamHeadline{
			font-size: 50px !important;
		}

		.TeamSentence{
			font-size: 14px !important;

		}

		.team{
			height: 100% !important;
		}

		.TeamBackToTop{
			display: none !important;

		}


		.team{
			height: 104px !important;
		}

		.teamleft{
			width: 340px !important;
			padding-left: 0px !important;
		}

		.teamright{
			display: none !important;
		}


		.carousel-indicators{
			padding-left: 0px !important;
			bottom: -42px !important;
			
		}

		.carousel-control{
			visibility: hidden !important;
		}


		.SliderTeamName{
			font-size: 23px !important;
			background-color: rgba(56, 53, 53, 0.3);
			color: rgba(255, 255, 255, 1) !important;

		}

		.SliderTeamPosition{
			font-size: 16px !important;
			background-color: rgba(56, 53, 53, 0.3);
			color: rgba(255, 255, 255, 1) !important;
		}

		.SliderTeamSentence{
			height: 0px !important;
			visibility: hidden !important;

		}

		.carousel-caption{
			width: 231px !important;
			padding-bottom: 0px !important;
			padding-left: 0px !important;
			top: 66% !important;
		}

		.ContactInfoCopy{
		font-size: 13px !important;
	   }

	   .mapleft{
	   	width: 340px !important;
	   	padding-left: 0px !important;
	   }
	   .mapheadline{
	   	font-size: 44px !important;
	   }

	   .social{
	   	display: none !important;
	   }

	   .socialMobile{
	   	display: block !important;
	   }

	   .HeaderCopy{
	   	font-size: 60px !important;
	   }

	   .Laptop{
	   	width: 340px !important;
		padding-left: 20px !important;
		padding-top: 222px !important;
	   }

	   #home{
	   	padding-bottom: 85px !important;
	   	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8) !important;
	   	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8) !important;
	   	padding-top: 27px !important;
	   	background-position: 45% 42px !important;
	   }

	   #products{
	   		box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8) !important;
	   		-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8) !important;
	   		background: url('http://assets0-stage.livecache.net/L6/3/IOGLO/833597663/187676579/key.jpg') !important;
	   		background-size: 692px !important;
	   }


	   #demo{
	   		box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8) !important;
	   		-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8) !important;
	   		background: url('http://assets0.livecache.net/L6/3/IOGLO/834629956/188591700/demotst.jpg') !important;
	   		background-size: 696px !important;
	   }

	   #Technology{
	   		box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8) !important;
	   		-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8) !important;
	   		background: url('http://assets2-stage.livecache.net/L6/3/IOGLO/833598205/187677015/tech.jpg') !important;
	   		background-size: 681px !important;

	   }


	   #team{
	   		box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8) !important;
	   		-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8) !important;
	   }


	   #aboutuspageheader{
	   	    background-size: 956px !important;
	   		box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8) !important;
	   		-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8) !important;
	   }

	   .clientscopy{
	   	padding-top: 44px !important;
		padding-left: 43px !important;	
	   }

	   .Clients {
	    padding-left: 0px !important;
		}

		.carouselspacing{
			left: 0px !important;
		}


    .prefootertext{
		margin-left: 0px !important;
	}

	.footeremail{
		font-size: 14px !important;
		padding-left: 39px !important;
	}
	.footerphone{
		font-size: 14px !important;
	}
	.footeraddress{
		font-size: 14px !important;
		padding-left: 0px !important;
	}

	.footericons{
		padding-left: 35px !important;
	}
	
	.footerlegal{
			text-align: center !important;
			position: absolute !important;
			margin-top: 80px !important;
		}
		
		.footerlogo{
			float: left !important;
			margin-left:62px !important;	
			margin-bottom: 24px !important;
		}

	

		.mobilelinks{
			display: block !important;
		}

		.footerfull{
			display:none !important;
		}
		 
		 .mobileInput{
		 	width:100% !important;
		 }

	 .oneplatformmobile{
			display: block !important;
		}
		 
		 .oneplatform{
		 	display: none !important;
		 }


		 .ctarequest{
				margin-top: 4%!important;
				margin-bottom: 20px !important;
				margin-left: 26% !important;

		} 

		.testimonialcopy{
			font-size: 19px !important;
		 }

		 .contentpageheadercopy{
		 	font-size: 45px !important;
		 }

		 .positiontitle {
		 	font-size: 40px !important;
		 }

		 .headercontentimage{
		 	display: none !important;
		 }

		 .headerspacingmobile{
		 	padding-bottom: 20px !important;
		 }


		 .footerphone{
		 	padding-left: 80px !important;
		 }


		 .LinkedInFooter{
		 	margin-right: 69px !important;
		 }

		 .FBFooter{
		 	margin-right: 69px !important;
		 }

		 .carouselitempos{
			padding-left: 0px !important;
		}


			.boxheadlinemobile{
				font-size: 54px !important;
				text-shadow: 2px 2px 1px #000 !important; 
			}


			.boxheadlinesentencemobile{
				font-size: 18px !important;
				text-shadow: 2px 2px 1px #000 !important; 
			}


			.headerblurb {
 			   width: 100% !important;
			}


			.blurbsentence {
				font-size: 17px !important;
			}

			.HeaderCopy {
    			font-size: 41px !important;
			}

			.dayscrollercopy {
				font-size: 33px !important;
			}

			.solutionstitle{
				font-size: 30px !important;
			}
	}

	@media (min-width: 481px) and (max-width: 767px) {

		body{
			padding-top: 65px !important;
		}
		

		.navbar-brand{
			width: 160px !important;
		}


		.HeadlineCopy{
			font-size: 45px !important;
		}

		.HeadlineSentence{
			font-size: 21px !important;
		}

		.BottomPadding{
			padding-bottom: 20px;
	
         }


		.FeaturedBoxHeadline {
    		font-size: 40px !important;
    		padding-top: 9px !important;
		}

		.FeaturedBoxSentence{
			font-size: 12px !important;
		}

		.FeaturedBoxContainer {
    		height: 125px !important;
		}

		.social{
			padding-top: 0px;
		}

		.HeadlineContent{
			font-size: 15px !important; 
			overflow: visible !important;
		}


		.AlignTextLeft {
			text-align: center !important;
		}



		.LiveButtonStyle {
			float: inherit !important;
		}


		.BackToTop{
			display: none !important;
		}


		.TeamHeadline{
			font-size: 50px !important;
		}

		.TeamSentence{
			font-size: 14px !important;

		}

		.team{
			height: 100% !important;
		}

		.TeamBackToTop{
			display: none !important;

		}


		.team{
			height: 104px !important;
		}

		.teamleft{
			width: 340px !important;
			padding-left: 0px !important;
		}

		.teamright{
			display: none !important;
		}


			.carousel-indicators{
			padding-left: 0px !important;
			bottom: -42px !important;
			
		}

		.carousel-control{
			visibility: hidden !important;
		}


		.carousel-inner{
			padding-left: 17%!important;
		}

		.SliderTeamName{
			font-size: 23px !important;
			background-color: rgba(56, 53, 53, 0.3);
			color: rgba(255, 255, 255, 1) !important;

		}

		.SliderTeamPosition{
			font-size: 16px !important;
			background-color: rgba(56, 53, 53, 0.3);
			color: rgba(255, 255, 255, 1) !important;
		}

		.SliderTeamSentence{
			height: 0px !important;
			visibility: hidden !important;

		}

		.carousel-caption{
			width: 231px !important;
			padding-bottom: 0px !important;
			padding-left: 0px !important;
			top: 66% !important;
		}

		.ContactInfoCopy{
		font-size: 13px !important;
	   }

	   .mapleft{
	   	width: 100% !important;
	   	padding-left: 0px !important;
	   }
	   .mapheadline{
	   	font-size: 44px !important;
	   }

	   .social{
	   	display: none !important;
	   }

	   .socialMobile{
	   	display: block !important;
	   	margin-left: 77% !important;
	   }

	   .HeaderCopy{
	   	font-size: 60px !important;
	   }

	   .Laptop{
	   	width: 96% !important;
		padding-left: 20px !important;
		padding-top: 26% !important;
	   }

	   #home{
	   	padding-bottom: 120px !important;
	   	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8) !important;
	   	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8) !important;
	   	padding-top: 27px !important;
	   }

	   #products{
	   		box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8) !important;
	   		-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8) !important;
	   		background: url('http://assets0-stage.livecache.net/L6/3/IOGLO/833597663/187676579/key.jpg') !important;
	   		background-size: 100%  !important;
	   		
	   }


	   #demo{
	   		box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8) !important;
	   		-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8) !important;
	   		background: url('http://assets0.livecache.net/L6/3/IOGLO/834629956/188591700/demotst.jpg') !important;
	   		background-size: 100%  !important;
	   }

	   #Technology{
	   		box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8) !important;
	   		-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8) !important;
	   		background: url('http://assets2-stage.livecache.net/L6/3/IOGLO/833598205/187677015/tech.jpg') !important;
	   		background-size: 100% !important;
	   }


	   #team{
	   		box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8) !important;
	   		-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8) !important;
	   }


	      #aboutuspageheader{
	   	    background-size: 100% !important;
	   		box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8) !important;
	   		-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8) !important;
	   }

	   .clientscopy{
	   	padding-top: 44px !important;
		padding-left: 24% !important;	
	   }

	   .Clients {
	    padding-left: 6% !important;
		}

		.carouselspacing{
			left: 0px !important;
		}


    .prefootertext{
		margin-left: 0px !important;
	}

	.footeremail{
		font-size: 14px !important;
		padding-left: 39px !important;
	}
	.footerphone{
		font-size: 14px !important;
	}
	.footeraddress{
		font-size: 14px !important;
		padding-left: 0px !important;
	}

	.footericons{
		padding-left: 26% !important;
	}
	
	.footermobile{
			text-align: center !important;
	}
	.footerlegal{
			text-align: center !important;
			position: absolute !important;
			margin-top: 80px !important;
			margin-left: 16% !important;
		}
		
		.footerlogo{
			float: left !important;
			margin-left:30% !important;	
			margin-bottom: 24px !important;
		}

		.mobilelinks{
			display: block !important;
		}

		.footerfull{
			display:none !important;
		}
		 
		 .mobileInput{
		 	width:100% !important;
		 }

		 .footerphone{
		 	padding-left: 80px !important;
		 }


		 .LinkedInFooter{
		 	margin-right: 69px !important;
		 }

		 .FBFooter{
		 	margin-right: 69px !important;
		 }

		 .carouselitempos{
		padding-left: 0px !important;
	}

	.headerblurb{
		width: 100% !important;
	}

	#home{
		background-position: 42% 65px !important;
	}

	}



	@media (min-width: 768px) and (max-width: 991px){

		.navbar-brand{
			max-width: 160px
		}

		.HeadlineCopy{
			font-size: 40px !important;
		}

		.HeadlineSentence{
			font-size: 19px !important;
		}


		.HeadlineContent{
		
			overflow: visible !important;
		}

		.BottomPadding{
			padding-bottom: 20px;
	
         }
	
         .FeaturedBoxHeadline{
         	font-size: 44px !important;
			padding-top: 15px !important;
		}

		.FeaturedBoxSentence{
			font-size: 15px !important;
		}

		.FeaturedBoxContainer {
    		height: 258px !important;
		}

		.BackToTop{
			padding-top: 9px !important;
			padding-right: 17px
		}

		.img-resize{
			width: 50% !important;
		}

		.teamleft{
			padding-left: 0px !important;
			width: 667px !important;
		}

		.teamright{
			width: 53px !important;
			padding-left: 0px !important;
		}

	.carousel{
		height: 341px !important;
	}

	.carousel-caption{
		width: 568px !important;
		padding-bottom: 0px !important; 

	}

	.SliderTeamName{
		font-size: 30px !important;
	}

	.SliderTeamPosition{
		font-size: 15px !important;
	}

	.SliderTeamSentence{
		font-size: 14px !important;
	}


	.MessageContainer{
		width: 97% !important;
	}

	.ContactInfoCopy{
		font-size: 13px !important;
	}

			.mapleft{
					width: 667px !important;
					padding-top: 37px !important;
					padding-left: 0px !important;
				}

			.mapheadline{
				font-size: 45px !important;
			}
	

	.clientscopy{
		padding-left: 239px !important;
	}

	.Clients{
		padding-left: 88px !important;
	}

	#home{
		box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.8) !important;
		background-position: 58% 82px !important;
	}

	#products{
		box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.8) !important;
	}

	#demo{
		box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.8) !important;
	}

	#Technology{
		box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.8) !important;
	}

    #team{
		box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.8) !important;
	}


	.carouselspacing{
			left: 0px !important;
		}
		
	.prefootertext{
		margin-left: -116px !important;
	}

	.footeremail{
		font-size: 14px !important;
	}
	.footerphone{
		font-size: 14px !important;
	}
	.footeraddress{
		font-size: 14px !important;
	}

	.footericons{
		padding-left: 37% !important;
	}
	

	.responsiveEmail{
	 width: 46% !important; 
	}

	.ctarequest{
		margin-top: 1%!important;
		margin-bottom: 20px !important;
		margin-left: 39% !important;

	} 

	.demomessageinput{
		width: 97% !important;
	}

	.testimonialcopy{
		font-size: 31px !important;
	}

	.carouselitempos{
		padding-left: 0px !important;
	}

	.carousel-control {
  	  visibility: hidden !important;
	}

	.blurbsentence {
		font-size: 19px !important;
	}

	.HeaderCopy {
		font-size: 54px !important;
	}

	.headerblurb {
    width: 490px !important;
}

	.pointsarrowright {
		margin-left: 202px !important;
	}

    .pointsarrowleft {
		margin-left: -259px !important;
	}


	}

    
	@media (min-width: 992px) and (max-width: 1200px){

		body {
    	padding-top: 82px !important;
		}

    .navbar-brand{
			max-width: 160px
		}

		.HeadlineCopy{
			font-size: 40px !important;
		}

		.HeadlineSentence{
			font-size: 19px !important;
		}


		.HeadlineContent{
		
			overflow: visible !important;
		}

		.BottomPadding{
			padding-bottom: 20px;
	
         }
	
         .FeaturedBoxHeadline{
         	font-size: 44px !important;
			padding-top: 35px !important;
		}

		.FeaturedBoxSentence{
			font-size: 15px !important;
		}

		.FeaturedBoxContainer {
    		height: 258px !important;
		}

		.BackToTop{
			padding-top: 9px !important;
			padding-right: 17px
		}

		.img-resize{
			width: 50% !important;
		}

		.teamleft{
			padding-left: 0px !important;
			width: 667px !important;
		}

		.teamright{
			width: 53px !important;
			padding-left: 0px !important;
		}

	.carousel{
		height: 341px !important;
	}

	.carousel-caption{
		width: 76% !important;
    	padding-bottom: 33px !important;

	}

	.SliderTeamName{
		font-size: 30px !important;
	}

	.SliderTeamPosition{
		font-size: 15px !important;
	}

	.SliderTeamSentence{
		font-size: 14px !important;
	}


	.MessageContainer{
		width: 98% !important;
	}

	.ContactInfoCopy{
		font-size: 13px !important;
	}

			.mapleft{
					width: 84% !important;
					padding-top: 36px !important;
					padding-left: 0px !important;
				}

			.mapheadline{
				font-size: 45px !important;
			}
	

	.clientscopy{
		padding-left: 36% !important;
	}

	.Clients{
		padding-left: 0px !important;
	}

	#home{
		box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.8) !important;
	}

	#products{
		box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.8) !important;
	}

	#demo{
		box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.8) !important;
	}

	#Technology{
		box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.8) !important;
	}

    #team{
		box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.8) !important;
	}


	.carouselspacing{
			left: 0px !important;
		}
		
	.prefootertext{
		margin-left: 23% !important;
	}

	.footeremail{
		font-size: 14px !important;
	}
	.footerphone{
		font-size: 14px !important;
	}
	.footeraddress{
		font-size: 14px !important;
	}

	.footericons{
		padding-left: 0px !important;
	}
	

	.responsiveEmail{
	 width: 46% !important; 
	}

	.ctarequest{
		margin-top: 1%!important;
		margin-bottom: 20px !important;
		margin-left: 39% !important;

	} 

	.demomessageinput{
		width: 97% !important;
	}

	.testimonialcopy{
		font-size: 31px !important;
	}

	.carouselitempos{
		padding-left: 0px !important;
	}

	.carousel-control {
    visibility: hidden !important;
	}

}

	@media (min-width: 1921px){
		#home{
			box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.8) !important;
			background-repeat: no-repeat  !important;
		}


	#products{
		box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.8) !important;
		background-repeat: no-repeat  !important;
	}

	#demo{
		box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.8) !important;
		background-repeat: no-repeat  !important;
	}

	#Technology{
		box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.8) !important;
		background-repeat: no-repeat  !important;
	}

    #team{
		box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.8) !important;
		background-repeat: no-repeat  !important;
	}


	}

.HeadlineCopy{
	text-align: center;
	color: #000;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 60px;
}


.TextCenter{
	text-align: center;
}


.BottomPadding{

}


.FeaturedBoxHeadline{
	text-align: center;
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 70px;
	padding-top: 117px;
	text-shadow: 3px 2px 0px #413E3E;
}

.FeaturedBoxSentence{
	text-align: center;
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 20px;
	text-shadow: 2px 2px 0px #413E3E;
}


.FeaturedBoxContainer{
	height: 404px;
}


.btn-outline-inverse {
    color: #FFF;
    background-color: transparent;
    border-color: #CDBFE3;
}

.btn-outline-inverse:hover {
    color: #FFF;
    text-shadow: 1px 1px #14568e;
    background-color: transparent;
    border-color: #14568e;
}


.BackToTop{
	padding-top: 65px;
	padding-right: 17px;
	display: block;
}

.HeadlineContent{
    color: #000;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 19px;
	overflow: hidden;

}

.navbar-right {
	padding-top: 0px;
}


.AlignTextLeft{
	text-align: left;
	display: block;
}

.img-resize{

}


.LiveButton{
	padding-top: 10px;

}


.LiveButtonStyle {
    color: #004785;
    background-color: transparent;
    border-color: #004785;
    float: left;
}

.LiveButtonStyle:hover {
    color:#0191fe;
    background-color: transparent;
    border-color: #0191fe;
}

.team{
	background-color: #316b9d;
	padding-bottom: 15px;
	width: 100%;
	height: 148px;
}

.TeamHeadline{
	text-align: center;
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 70px;
}

.TeamSentence{
	text-align: center;
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 20px;
}


.TeamBackToTop{;
	padding-right: 17px;
	display: block;
}

.teamleft{
	width: 810px;
	float: left;
	padding-left: 331px;
}

.teamright{
	width: 315px;
	float: left;
	padding-top: 55px;
	padding-left: 53px
}


.TeamName{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 31px;
	color: #306b9d;
	padding-top: 50px;
}

.TeamTitle{
	color: #000;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 19px;
	padding-bottom: 15px;
}

.TeamContent{
	color: #000;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;

}

.AboutUs:before{
	display: block; 
  content: " "; 
  height: 91px; 
  visibility: hidden; 
}

.OurProducts:before{
	display: block; 
  content: " "; 
  height: 91px; 
  visibility: hidden; 
}

.OurTechnology:before{
	display: block; 
  content: " "; 
  height: 91px; 
  visibility: hidden; 
}


.LinkSpace:before{
 display: block; 
  content: " "; 
  height: 91px; 
  visibility: hidden; 
}



.SliderTeamName{
    color: #32699c;
    font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 53px;
}

.SliderTeamPosition{ 
    color: #000000;
    font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-style: italic; 
	font-size: 22px; 
}

.SliderTeamSentence{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #000;
	padding-top: 6px;
    font-size: 15px;
}

.item{
  
    text-align: center;
    height: 300px !important;
}
.carousel{
    margin-top: 20px;
    background-color: #fff;
}

.carousel-caption{
	padding-left: 275px;
	padding-bottom: 59px;
	width: 883px;
	right:none !important;
	left: 15%;
}

.carousel-indicators {
    padding-left: 351px;
}


.chevron-right{
	padding-left: 40px;
}

.chevron-left{
	padding-right: 40px;
}

.carousel-control.right{
	background-image: none;
}

.carousel-control.left{
	background-image: none;
}

.carousel-indicators .active {
	background-color: #32699C;
}

.carousel-indicators li {
	border: 1px solid #080808;
}


.ContactInfo{
	width: 400px;
}

.ContactUs{
	 color: #32699c;
    font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 25px;
	padding-bottom: 10px;
}

.ContactInfoCopy{
	display: inline-block;
	color: #919193;
    font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 15px;
	padding-top: 5px;
	padding-left: 4px;
}

.DirectionsContainer{
	padding-bottom: 10px;
}


.MessageContainer{
	width: 100%;
	height: 302px;
	margin-top: 10px;
}

.ContactFormSpacing{
	padding-top: 10px !important; 
	padding-bottom: 10px !important;
}


.success {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #468847;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.error {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #b94a48;
  background-color: #f2dede;
  border: 1px solid rgba(185, 74, 72, 0.3);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}


.map{
	background-color: #316b9d;
	padding-bottom: 15px;
	width: 100%;
	height: 148px;
}


.mapheadline{

    text-align: center;
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 58px;
	text-shadow: 3px 4px 0px #413E3E;
}


.mapleft{
	width: 810px;
	float: left;
	padding-left: 331px;
}

.btn-info{
	background-color: #316b9d;
	border-color: #316B9D;
}

a{
	color: #919193;
}


.socialMobile{
	display: none;
	width: 55px;
	height: 21px;
	margin-left: 237px;
	padding-top: 14px;
	position: absolute;
}



#home { 
			background: url(http://assets2.livecache.net/L6/3/IOGLO/834495205/188471172/header1.jpg) 50% 0 fixed; 
			height: auto;  
			margin: 0 auto; 
		    width: 100%; 
		    position: relative; 
		    box-shadow: 0 0 23px rgba(0,0,0,0.8);
		    padding-bottom: 301px;
            padding-top: 80px;
            background-repeat: no-repeat !important;



		}
#products { 
			background: url(http://assets0-stage.livecache.net/L6/3/IOGLO/833597663/187676579/key.jpg) 50% 0 fixed; 
			height: auto;  
			margin: 0 auto; 
		    width: 100%;
		    box-shadow: 0 0 23px rgba(0,0,0,0.8);
		}	

#demo { 
			background: url(http://assets0.livecache.net/L6/3/IOGLO/834629956/188591700/demotst.jpg) 50% 0 fixed; 
			height: auto;  
			margin: 0 auto; 
		    width: 100%;
		    box-shadow: 0 0 23px rgba(0,0,0,0.8);
		}	

#Technology{ 
			background: url(http://assets2-stage.livecache.net/L6/3/IOGLO/833598205/187677015/tech.jpg) 50% 0 fixed; 
			height: auto;  
			margin: 0 auto; 
		    width: 100%;
		    box-shadow: 0 0 23px rgba(0,0,0,0.8);
		   


		}		

#team{ 
			background-color: #132239;
			height: auto;  
			margin: 0 auto; 
		    width: 100%;
		    box-shadow: 0 0 23px rgba(0,0,0,0.8);
		}		

#footer{
	        background-color: #132239;
			height: auto;  
			margin: 0 auto; 
		    width: 100%;
		   
}

.HeaderCopy{
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 70px;
	text-shadow: 3px 2px 0px rgba(65, 62, 62, 1);
}		

.blurbsentence{
		color: #FFF;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 20px;
	padding-top: 15px;
	text-align: center;
}

.headerblurb{
	width: 560px;
	margin-top: 55px;
	margin-left: 4px;
}


.Laptop{
	text-align: center;
	padding-top: 290px;
	position: relative;
}

.Clients{
	text-align: center;
	padding-left: 59px;
}

.clientscopy{
		font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 26px;
	width: auto;
	display: inline-block;
	color: #919193;
	padding-top: 39px;
    padding-left: 443px;
	text-align: center;

	
}


	.carouselspacing{
		 left: -43px;
		}
		
.footeremail{
	float: left;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 16px;
	color: #fff;
	
}

.footerphone{
	float: left;
	padding-left: 23px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 16px;
	color: #fff;
}

.footeraddress{
	float: left;
	padding-left: 30px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 16px;
	color: #fff;
}

.prefootertext{
 float:left; 
 padding-top: 10px;
 margin-left: 429px;
}


.LinkedInFooter{
	float: left;
	background: url('http://assets1-stage.livecache.net/L6/3/IOGLO/833597696/187676621/LI.png');
	width: 42px;
	height: 41px;
	margin-right: 30px;
}

.LinkedInFooter:hover{
	background-position: -42px 0px;
	cursor: pointer;
}

.FBFooter{
	float: left;
	background: url('http://assets2-stage.livecache.net/L6/3/IOGLO/833598476/187677242/faceb.png');
	width: 42px;
	height: 41px;
	margin-right: 30px;
}

.FBFooter:hover{
	background-position: -42px 0px;
	cursor: pointer;
}

.TwitterFooter{
	float: left;
	background: url('http://assets0-stage.livecache.net/L6/3/IOGLO/833598232/187677046/twit.png');
	width: 42px;
	height: 41px;
	margin-right: 30px;
}


.TwitterFooter:hover{
	background-position: -42px 0px;
	cursor: pointer;
}



.GoogleFooter{
	float: left;
	background: url('http://assets2-stage.livecache.net/L6/3/IOGLO/833598514/187677288/google.png');
	width: 42px;
	height: 41px;
	margin-right: 28px;
}


.GoogleFooter:hover{
	background-position: -42px 0px;
	cursor: pointer;
}


.footercoltitle{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 14px;
	color: #132239;
}


.footerlinkcopy{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #132239;
}


.footerlegal{
	float: left;
	margin-top: 51px;
}

.footerlogo{
	float: right;
	width: 213px;
}


.LTinputform{
background-color: rgba(216, 219, 221, 0.7);
color: rgba(0, 0, 0, 1);
border: 0px none;
border-radius: 3px;
font-family: "Open Sans",sans-serif;
font-weight: 400;
font-size: 14px;
 text-indent: 5px;
}

.LTinputform:focus{
	border: 1px solid #316B9D; 
    box-shadow: 0 0 2px 2px #316B9D; 
}


.mobilelinks{
	display: none;
}

.footerfull{

}


.mobilefooterstyle{
	border: 1px solid rgb(194, 199, 204);
	 border-radius: 10px;
}


.responsiveName{
 
 width: 50%;
 
}

.responsiveEmail{
 width: 48%;
}

.socialspacing{
	width: 15px;
	height: 21px;
	float: left;
}


.oneplatformmobile{
	display: none;
	padding-top: 10px;
}


fieldset {
	border: none !important;
}


#contentpageheader{
	       background: url(http://assets2-stage.livecache.net/L6/3/IOGLO/833598402/187677202/careersheader.jpg) 65% 0 fixed; 
			height: auto;  
			margin: 0 auto; 
		    width: 100%;
		   
}

#aboutuspageheader{
	background: url(http://assets2-stage.livecache.net/L6/3/IOGLO/833598380/187677172/aboutusbg.jpg) 65% 0 fixed; 
			height: auto;  
			margin: 0 auto; 
		    width: 100%;
}

.contentpageheadercopy{
	font-family: "Open Sans",sans-serif;
	font-weight: 400;
	font-size: 66px;
	color: #FFF;
	line-height: 0.8;
	
}

.contentpageheadersentence{
	font-family: "Open Sans",sans-serif;
	font-weight: 300;
	color: rgba(0, 0, 0, 1);
	font-size: 17px;

}

#democta{
	        background-color: #132239;
			height: auto;  
			margin: 0 auto; 
		    width: 100%;
}

.democtasentence{
	
}


.ctarequest{
	float: left;
	background-color: #316B9D;
	margin-top: 8%;
	margin-left: 10%;
	-webkit-box-shadow: 0px 10px 10px -4px #000 !important;

	-moz-box-shadow: 0px 10px 10px -4px #000 !important;

	box-shadow: 0px 10px 10px -4px #000 !important;

	cursor: pointer;
	    border-radius: 5px;
}
}

.ctarequest:hover{
	background-color: #316B9D;
}



/* Wobble To Top Right */
@-webkit-keyframes wobble-to-top-right {
  16.65% {
    -webkit-transform: translate(8px, -8px);
    transform: translate(8px, -8px);
  }

  33.3% {
    -webkit-transform: translate(-6px, 6px);
    transform: translate(-6px, 6px);
  }

  49.95% {
    -webkit-transform: translate(4px, -4px);
    transform: translate(4px, -4px);
  }

  66.6% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }

  83.25% {
    -webkit-transform: translate(1px, -1px);
    transform: translate(1px, -1px);
  }

  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@keyframes wobble-to-top-right {
  16.65% {
    -webkit-transform: translate(8px, -8px);
    transform: translate(8px, -8px);
  }

  33.3% {
    -webkit-transform: translate(-6px, 6px);
    transform: translate(-6px, 6px);
  }

  49.95% {
    -webkit-transform: translate(4px, -4px);
    transform: translate(4px, -4px);
  }

  66.6% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }

  83.25% {
    -webkit-transform: translate(1px, -1px);
    transform: translate(1px, -1px);
  }

  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

.wobble-to-top-right {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.wobble-to-top-right:hover, .wobble-to-top-right:focus, .wobble-to-top-right:active {
  -webkit-animation-name: wobble-to-top-right;
  animation-name: wobble-to-top-right;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}


.ctacopy{
	padding: 24px;
	width: 166px;
	text-align: center;
		font-family: "Open Sans",sans-serif;
	font-weight: 700;
	color: #fff;
	font-size: 17px;
}

.testimonialcopy{
	
font-family: "Open Sans",sans-serif;
font-weight: 400;
font-size: 28px;
text-align: center;
color: rgba(101, 101, 101, 1);
text-shadow: 0px 0px 1px #6B6969;
}

.LTinputformCTA{
background-color: none;
color: #316B9D;
border: 0px none;
border-radius: 3px;
font-family: "Open Sans",sans-serif;
font-weight: 700;
font-size: 14px;
text-indent: 5px;
}

.LTinputformCTA:focus{
	border: 1px solid #316B9D; 
    box-shadow: 0 0 2px 2px #316B9D; 
}


.demomessageinput{
	width: 99%;
	margin-top: 10px;
}


.positiontitle{
	font-family: "Open Sans",sans-serif;
	font-weight: 200;
	font-size: 40px;
	cursor: pointer;
}


.hrstyled{
	border-color: rgb(183, 183, 183); 
	
}


.selectedposition{
	margin-top: 10px;
	
}


.uploadresume{
	margin-top: 10px;

}

.carouselitempos{
	padding-left: 73px;
}

::-webkit-input-placeholder {
   color: black;
   margin-left: 5px;
   letter-spacing:3px;
   padding-left: 10px !important;
}

:-moz-placeholder { /* Firefox 18- */
   color: black; 
      margin-left: 5px;
   letter-spacing:3px;
   padding-left: 10px !important;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: black;  
     margin-left: 5px;
   letter-spacing:3px;
padding-left: 10px !important;
}

:-ms-input-placeholder {  
   color: black; 
      margin-left: 5px;
   letter-spacing:3px;
padding-left: 10px !important;
}


.bannerview{
	padding-bottom: 20px;
}


.anchor:before{
	display: block; 
  content: " "; 
  margin-top: -93px; 
  height: 93px; 
  visibility: hidden; 
}


.dayscrollercopy{
	text-align: center;
color: #000;
font-family: "Open Sans",sans-serif;
font-weight: 300;
font-size: 46px;
}

.carousel-caption{
	text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.6) !important;
}


.pointlinks{
	color:#fff;
}

.pointlinks:hover{
	color:#fff;
	cursor: pointer;
	text-decoration: none;
 	text-shadow: 1px 1px 2px #000;
}


.solutionstitle{
	font-family: "Open Sans",sans-serif;
font-weight: 300;
font-size: 39px;
width: auto;
color: rgba(0, 0, 0, 1);
padding-top: 15px;

padding-bottom: 25px;
}

.pointsarrowleft{
	margin-left: -299px;
	margin-top: 24px;
	position: absolute;
}

.pointsarrowright{
	 position: absolute;
    margin-left: 248px;
    margin-top: 24px;
}


.owl-nav .glyphicon {
    position: absolute !important;
}